body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

header, nav {
    background-color: #343a40;
    padding: 10px;
    text-align: center;
    color: #fff;
}

header h1 {
    margin: 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #495057;
    box-sizing: border-box;
}

.add-button, .save-button, .delete-button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.add-button { background-color: #28a745; }
.save-button { background-color: #ffc107; }
.delete-button { background-color: #dc3545; }

.list-container h2, .balance-container h2 {
    text-align: center;
}

#items-table {
    width: 100%;
    border-collapse: collapse;
}

#items-table th, #items-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

#items-table th {
    background-color: #343a40;
    color: #fff;
}

.actions button {
    margin-right: 5px;
    cursor: pointer;
}

.actions button:hover {
    opacity: 0.8;
}

.balance-container p {
    margin: 5px 0;
}

.green { color: #28a745; }
.red { color: #dc3545; }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #343a40;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #495057;
    text-decoration: none;
    cursor: pointer;
}
